<div>
        <section class="inner-container">
        <b>Welcome! Please Login! </b>
        <form ng-submit="authenticateUser()">
                User Name: <input class="input login username" type="text" ng-model="username" /><br>
                <br>
                Password :&nbsp;&nbsp;<input class="input login password" type="password" placeholder="password" ng-model="password" /><br>
                <br>
                <label class="labelFontS">Forgotten your password? Email <a href="mailto:systemadministrator@ladbrokes.co.uk" taget="_top">mailto:systemadministrator@ladbrokes.co.uk</a></label>
                <center>
                <input type="submit"></input></center>
                <!-- <ul>
                    <li>
                        <div class="txtbold">Please enter a valid windows username and password and click Ok.</div>
                    </li>
                    <li>
                        <label>Username<input type="text" name="txtUserName" placeholder="Enter username"></label>
                    </li>
                    <li>
						<label>Password<input type="password" name="txtUserName" placeholder="Enter password"></label>
                    </li>
                    <li>
                        <label class="labelFontS">Forgotten your password? Email <a href="mailto:systemadministrator@ladbrokes.co.uk" target="_top">mailto:systemadministrator@ladbrokes.co.uk</a></label>
                    </li>

                    <li>
                        <div class="btnBlock">
                            <input class="btnCancel" type="button" value="Cancel">
                             <input class="input login submit" type="submit" placeholder="login!" />
                            <input type="submit" class="btnOk" value="Ok">
                        </div>
                    </li>

                </ul> -->
            </form>
        </section>
</div>